body {
    font-size: 24px;
}

.red {
    color: red;
}

bold {
    font-weight: bold;
}
.yellow {
    color: yellow;
}
.blue {
    color: blue;
}
.red {
    color: red;
}
.green {
    color: green;
}
.xxsmall {
    font-size: 10px;
}
.xsmall {
    font-size: 20px;
}
.small {
    font-size: 30px;
}
.medium {
    font-size: 40px;
}
.large {
    font-size: 50px;
}
.xlarge {
    font-size: 60px;
}
.xxlarge {
    font-size: 70px;
}